

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

.main {
    flex: 1 0 auto;
  }
     


.header {
    background: #9068be;

    
}

.footer {
 
  background-color:#9068be;
}
.main-color {
    background: #62bcfa
;
}
.add-color{
    background: #e62739;

}
